@font-face {
  font-family: 'Cera Pro';
  src: url('../Libraries/DmitriyFirsov.library/assets/font/CeraPro-regular.woff2') format('woff2'),
    url('../Libraries/DmitriyFirsov.library/assets/font/CeraPro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../Libraries/DmitriyFirsov.library/assets/font/CeraPro-Medium.woff2') format('woff2'),
    url('../Libraries/DmitriyFirsov.library/assets/font/CeraPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
